.idea/
.vscode/
*.log
.env
.env.*
!.env.example
**/node_modules/
**/dist/

**/target/
/data/
**/*.mv.db
**/*.trace.db
/db
/docs
*.md
!README.md
!AGENT.md
!docs/
!docs/**
/docs
/docker
docker-compose.db.yml
/scripts
/scripts
